@page "/admins"
@attribute [Authorize(Roles = "Admins")]

<PageTitle>@_title</PageTitle>
<h3>@_title</h3>
<hr />

<style>
    .btn {
        height: 150px;
    }

        .btn div {
            padding-top: 60px;
        }
</style>

<div class="row">
    <div class="col-md-4">
        <div class="d-grid m-3">
            <a class="btn btn-primary" href="inventories">
                <div>
                    <span class="oi oi-list" aria-hidden="true"></span>
                    Inventories
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="d-grid m-3">
            <a class="btn btn-success" href="qrscanner/checkout">
                <div>
                    <span class="oi oi-camera-slr" aria-hidden="true"></span>
                    QR Scanner Chechout
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="d-grid m-3">
            <a class="btn btn-outline-success" href="/qrscanner/checkin">
                <div>
                    <span class="oi oi-camera-slr" aria-hidden="true"></span>
                    QR Scanner Checkin
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="d-grid m-3">
            <a class="btn btn-warning" href="inventories/checkouts">
                <div>
                    <span class="oi oi-list" aria-hidden="true"></span>
                    Checkouts
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="d-grid m-3">
            <a class="btn btn-dark" href="readexcel">
                <div>
                    <span class="oi oi-data-transfer-upload" aria-hidden="true"></span>
                    Read Excel
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-grid m-3">
            <a class="btn btn-danger" href="users">
                <div>
                    <span class="oi oi-person" aria-hidden="true"></span>
                   Users
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-grid m-3">
            <a class="btn btn-outline-danger" href="roles">
                <div>
                    <span class="oi oi-people" aria-hidden="true"></span>
                    Roles
                </div>
            </a>
        </div>
    </div>
</div>


@code {
    private string _title = "Dashboard Admins";
}