@page "/employees"

<PageTitle>@_title</PageTitle>
<h3>@_title</h3>

<hr />
<style>
    .btn {
        height: 150px;
    }

        .btn div {
            padding-top: 60px;
        }
</style>

<div class="row">
    <div class="col-md-4">
        <div class="d-grid m-3">
            <a class="btn btn-primary" href="inventories">
                <div>
                    <span class="oi oi-list" aria-hidden="true"></span>
                    Inventory
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="d-grid m-3">
            <a class="btn btn-warning" href="qrscanner/checkout">
                <div>
                    <span class="oi oi-camera-slr" aria-hidden="true"></span>
                    Check out item with QR
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="d-grid m-3">
            <a class="btn btn-success" href="/qrscanner/checkin">
                <div>
                    <span class="oi oi-camera-slr" aria-hidden="true"></span>
                    Return item with QR
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="d-grid m-3">
            <a class="btn btn-secondary" href="inventories/checkouts">
                <div>
                    <span class="oi oi-list" aria-hidden="true"></span>
                    Checked out items
                </div>
            </a>
        </div>
    </div>
</div>

@code {
    private string _title = "Dashboard Employees";
}
